@import "./variables";

.wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerWrapper {
  display: flex;
  justify-content: center;

  .header {
    font-family: inherit;
    font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: 0.08rem;
  }
  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 4px;

    .formGroup {
      width: 100%;
      margin-bottom: 2rem;   
  
      &:last-child {
        margin-bottom: 0;
      }
  }

  .formControlWrapper {
  }
  
  .formControl {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    margin-bottom: 0.5rem;
  
    &:focus {
      outline: none;
      border-color: #007bff;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.helperWrapper {
  margin-top: 0.75rem;
  color: $iconic-color;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -0.5rem;

  &:hover{
    color: rgb(20, 50, 220);
    opacity: 80%;
  }
}

@mixin btn {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 0.1rem;
  font-weight: bold;

  &:hover {
    opacity: 75%;
  }
}

.btnPrimary {
  @include btn;

  color: #fff;
  background-color: $primary-color;
}

.btnSecondary {
  @include btn;

  color: #000;
  background-color: white;
  border: 1px solid #ccc;

  &:hover {
    background-color: #eee;
  }
}
  
.btnWrapper {
  width: 100%;

  button {
    margin-bottom: 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}